.card {
  transition: transform 150ms ease, box-shadow 150ms ease;
  max-width: 50%;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-weight: bold;
}
